$primary-color: #1372D8;
$primary-sub-color: #0080FF;
$background-color: #EFF3F6;
$input-border-color: #F9FBFC;
$line-color: #E9EEF2;
$deep-line-color: #DFE3E6;
$title-color: #585F67;
$menu-background-color: #222632;
$menu-title-color: #2A303E;
$menu-text-color: #757982;
$table-title-color: #CED6DC;
$primary-text-color: #535353;
$warning-color: #FF7316;
$white-color: #FFFFFF;
$green-color: #5CB85C;
$green-sub-color: #A0D194;